<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 글쓰기</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <form action="/post" method="post">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="inputTitle" />
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label"><strong>가게유형</strong></label>
            <select class="custom-select col-sm-10">
                <option selected>음식유형을 골라주세요.</option>
                <option value="1">한식</option>
                <option value="2">중식</option>
                <option value="3">일식</option>
                <option value="4">양식</option>
                <option value="5">커피</option>
                <option value="6">야식</option>
                <option value="7">기타</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="inputStoreName" class="col-sm-2 col-form-label"><strong>가게이름</strong></label>
            <div class="col-sm-10">
                <input type="text" name="content" class="form-control" id="inputStoreName"></input>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputMenu" class="col-sm-2 col-form-label"><strong>메뉴이름</strong></label>
            <div class="col-sm-10">
                <input type="text" name="content" class="form-control" id="inputMenu"></input>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCurrentAmount" class="col-sm-2 col-form-label"><strong>현재금액</strong></label>
            <div class="col-sm-10">
                <input type="text" name="content" class="form-control" id="inputCurrentAmount"></input>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputMinimumOrderAmount" class="col-sm-2 col-form-label"><strong>최소주문금액</strong></label>
            <div class="col-sm-10">
                <input type="text" name="content" class="form-control" id="inputMinimumOrderAmount"></input>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>배달요금</strong></label>
            <div class="col-sm-10">
                <input type="text" name="content" class="form-control" id="inputContent"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="글쓰기" />
            </div>
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>